.mobile-menu {
    max-height: 100vh; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
}

.mobile-menu li ul {
    max-height: auto; 
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch; 
    scrollbar-width: thin; 
}

.mobile-menu li ul::-webkit-scrollbar {
    width: 6px; 
}

.mobile-menu li ul::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
}

.mobile-menu li ul::-webkit-scrollbar-track {
    background-color: transparent; 
}
.mobile-menu li.dropdown ul {
    overflow: hidden; 
}

.mobile-menu li.dropdown ul::-webkit-scrollbar {
    display: none;
}



.current {
    font-weight: bold;
    color: #007bff; /* Highlight color */
  }
  
  .single-menu {
    text-decoration: none;
    color: #333;
  }
  
  .single-menu.current {
    color: #007bff; /* Active menu item color */
  }