



.news-section {
    padding: 10px 0; 
    overflow: hidden; 
    position: relative; 
    white-space: nowrap;
    background-color: #f9f9f9;
    border: 1px solid #ddd; 
}

.marquee {
    display: flex; 
    overflow: hidden; 
    position: relative; 
    height: 50px;
    align-items: center;
}

.marquee-content {
    margin-left: 100%;
    display: flex; 
    animation: scroll 100s linear infinite;
}

.marquee-item {
    padding: 0 22px; 
    font-size: 16px; 
    line-height: 50px;
}

@keyframes scroll {
    0% {
        transform: translateX(100); 
    }
    100% {
        transform: translateX(-100%); 
    }
}
