
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.notification-icon {
  cursor: pointer;
}

.notification-dropdown {
  width: 300px;
  border-radius: 5px;
  position: absolute;
  top: 210%;
  right: 0;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Improved shadow for dropdown */
}

.notification-item {
  padding: 8px 10px;
  border-bottom: 1px solid #e0e0e0;
}

.notification-item:last-child {
  border-bottom: none;
}

.admin-profile {
  cursor: pointer;
}

.dropdown-menu {
  min-width: 200px;
  right: 0;
  left: auto;
  border-radius: 5px;
}


@media (max-width: 768px) {
  .notification-dropdown {
    width: 80vw; 
  }
}
